body {
     /*Padding: Distancia del contenido de un objeto, limitación */
    /*padding-bottom: 20px;*/
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 300px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-default .navbar-nav > li > a{ /*color, posicion, tamaño de letra*/
    color: white;
    font-size: medium;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
}

.navbar-default { /*color de fondo de la barra de navegacion*/
    background-color: #94232b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0rgba(0, 0, 0, 0.19);
}

.navbar-nav #li-a:hover { /* efecto al pasar el cursor en la barra de navegacion*/    
    background-color: white;
    color: black;
}

.panel-footer {
    position: sticky;
    left: 0;
    bottom: auto;
    width: 100%;
    position: absolute;
}

#barra {
    height: 100px;
}

#barra:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#foot {
    background-color: #94232b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0rgba(0, 0, 0, 0.19);
    color: white;    
}

#tituloih {
    font-family: 'Kanit', cursive;
    text-align: center;
    color: #94232b;
}
#subtitle{
    font-weight: bold;
}
p{
    text-align: justify;
}
#listav {
    text-align: justify;
}

#indeximg{
    height: 20px;
}

textarea{
    height: 200px;
    width: 300px;
    resize: none;
}

/*/Tamaño de Logo abajo/*/
#LogoBibliotecaAbajo {
    height: 200px;
    /*width: 220px;*/
    display: block;
}

/*/Tamaño Imagen de ubicación de mapa/*/
#ImgUbicacion {
    height: 175px;
    /*width: 275px;*/
    display: block;
    border: #94232B 2px solid;
}

/*/Tamaño de Logos Base Datos/*/
#LogoUCATAbajo {
    height: 50px;
}

/*/Tamaño de Logos Base Datos/*/
#BaseDatos {
    height: 130px;
}

/*/Tamaño de Logos Recursos en Línea/*/
#RecursosLinea {
    height: 150px;
}

/*/Tamaño de Logos Inicio/*/
#Inicio {
    height: 100px;
}

/*/Tamaño de Logos Documentos Bibliotecarios/*/
#DocumentoBibliotecario {
    height: 100px;
}


/*/Tamaño de Imagenes de Contacto en Footer/*/
#ImgContacto {
    height: 25px;
    /*width: 35px;*/    
}


/*/Posición de los datos del footer/*/
#Fecha, #Desarrollador, #Login, #Logo {
    width: 447px;
}

/*/Para que el footer se quede fijo o estático/*/
.panel-footer {
    position: sticky;
}

/*/Color de los botones/*/
.botones {
    background-color: #94232B;
    color: white;
    border: 1px solid white;
}

.botones_2 {
    background-color: white;
    color: #94232B;
    border: 1px solid #94232B;
}

/*/Hover a los botones/*/
.botones:hover {
    background-color: white;
    color: #94232B;
    border: 1px solid #94232B;
}

.botones_2:hover {
    background-color: #94232B;
    color: white;
    border: 1px solid white;
}

/*Tamaño Botones Otros Sistemas*/
#BtnSistemas {
    width: 200px;
    text-align: left;
}

.botonInicio {
    background-color: #94232B;
    color: white;
    border: 1px solid white;
    width: 220px;
}