@{
    ViewBag.Title = "Inicio";
}
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <div>
        <h2 align="center" id="tituloih">Observatorio LAUDATO SI'</h2>
        <h3 align="center" id="tituloih">El cuidado de la casa común</h3>
        <hr />
        <p>
            En 2017, la Universidad Católica de Costa Rica fue sede del VII Simposio de la Fundación Ratzinger, el cual
            llevó el título de “Laudato si’ El cuidado de la Casa Común: una conversión necesaria hacia la ecología
            humana”. Desde entonces, asumió públicamente la creación de un instrumento que da seguimiento a los acuerdos
            y contenidos del Simposio.
        </p>
        <p>
            Es así como surge el Observatorio Laudato si’, con la misión de “contribuir al bien común de la humanidad y
            a la sostenibilidad del planeta por medio del mejor cuido de la casa común, mediante la difusión de los
            conceptos centrales y filosofía de vida planteados en la Encíclica Laudato Si’ y los instrumentos de política
            y prácticas que mejor los representan e impactan”.
        </p>
        <h3 id="tituloih">Propósitos.</h3>
        <hr />
        <p>
            Crear redes con diferentes universidades en los diferentes continentes, para recoger información en cada uno
            de los países, analizarla en su contexto y socializarla, buscando así una incidencia en la sociedad.
        </p>
        <p>
            Propiciar una formación integral en la comunidad universitaria que promueva una conversión ecológica.
        </p>
        <p>
            Promover en los campus universitarios una forma de organizar su infraestructura y logística en el marco del
            cuidado ecológico social, como testimonio para su entorno social.
        </p>
        <h3 id="tituloih">Valores.</h3>
        <hr />
        <ul style="list-style-type:disc;">
            <li id="listav">
                Impacto real: En última instancia es por medio de cambios en políticas y prácticas que mediremos nuestro 
                impacto.
            </li>
            <li id="listav">
                Apalancamiento: Trabajaremos apalancados en el capital social de UCAT-CR, en la fuerza moral del Vaticano 
                (Santo Padre Francisco y Fundación Ratzinger).
            </li>
            <li id="listav">
                Vivir lo predicado: En UCAT-CR convertiremos en prácticas cotidianas lo que predica nuestro Observatorio 
                Laudato si’.
            </li>
            <li id="listav">
                Difusión masiva: Procuraremos difundir cada índice, iniciativa y documento de la manera más amplia posible.
            </li>
            <li id="listav">
                Alcance global: Nuestro alcance es global en todo y nuestro trabajo debe ser relevante internacionalmente.
            </li>
        </ul>
        <h3 id="tituloih">Finalidad.</h3>
        <hr />
        <p>
            Generar una visión de responsabilidad transgeneracional con respecto al cuidado de la casa común, favoreciendo la
            conversión pastoral.
        </p>
        <div class="row">
            <div class="col-lg-6">
                <h3 id="tituloih">Visión.</h3>
                <hr />
                <p>
                    Nuestra visión es una sociedad planetaria que, guiada por los principios y valores de la Encíclica 
                    Laudato si’, inicie el cierre de las enormes brechas sociales que se han zanjado y la recuperación de
                    la sostenibilidad del planeta y su naturaleza.
                </p>
            </div>
            <div class="col-lg-6">
                <h3 id="tituloih">Misión.</h3>
                <hr />
                <p>
                    Contribuir al bien común de la humanidad y a la sostenibilidad del planeta por medio del mejor cuido 
                    de la casa común, mediante la difusión de los conceptos centrales y filosofía de vida planteados en la
                    Encíclica Laudato si’ y los instrumentos de política y prácticas que mejor los representan e impactan.
                </p>
            </div>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
    </div>