@{
    ViewBag.Title = "Inicio";
}
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
<div>
    <h2 align="center" id="tituloih">Observatorio LAUDATO SÍ</h2>
    <h3 align="center">El cuidado de la casa común</h3>
    <p>
        Esta página responde al compromiso adquirido con la fundación Ratzinger, que pide la creación de un instrumento que dé
        seguimiento a los acuerdos y contenidos del simposio. De este compromiso, surge la iniciativa de dar respuesta a una
        problemática imperativa como lo presenta el Papa Francisco de una nueva ecología integral.
    </p>
    <h3>Propósitos.</h3>
    <p>
        Crear redes entre universidades de ODUCAL, recoger información en cada uno de los países, para analizarla en su
        contexto y socializar dicha información, para que se logre una incidencia en la sociedad.
    </p>
    <p>
        Propiciar una formación integral en la comunidad universitaria que promueva una conversión ecológica (216-217).
    </p>
    <p>
        Promover en los campus universitarios una forma de organizar su infraestructura y logística en el marco del cuidado
        ecológico social, como testimonio para su entorno social.
    </p>
    <h3>Finalidad.</h3>
    <p>
        Generar una visión de responsabilidad transgeneracional con respecto al cuidado de la casa común, favoreciendo la
        conversión pastoral.
    </p>
    <div class="row">
        <div class="col-lg-6">
            <h3>Visión.</h3>
            <p>
                Nuestra visión es una sociedad planetaria que, guiada por los principios y valores de la Encíclica LAUDATO SI,
                inicie el cierre de las enormes brechas sociales que se han zanjado y la recuperación de la sostenibilidad del
                planeta y su naturaleza.
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Misión.</h3>
            <p>
                Contribuir al bien común de la humanidad y a la sostenibilidad del planeta por medio del mejor cuido de la casa
                común, mediante la difución de los conceptos centrales y filosofía de vida planteados en la Encíclica LAUDATO SÍ
                y los instrumentos de política y prácticas que mejor los representan e impactan.
            </p>
        </div>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
</div>