@{
    ViewBag.Title = "Confirmar correo electrónico";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        No puedes iniciar sesión hasta que hayas realizado la confirmación de la cuenta.
    </p>
    @Html.ActionLink("Haga clic aquí para volver al inicio", "Login", "Account")
</div>
