@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

<h2>Crear Roles de usuario</h2>

@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <tr>
            <td>Ingrese el nombre del Rol a crear:</td>
            <td>
                @Html.EditorFor(m => m.Name)
            </td>
        </tr>
    </table>
    <input type="submit" value="Crear Rol" />
}

